

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline:none;
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
   background-color: rgb(41, 41, 41);
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;

}

header{
  position: fixed;
  top:0;
  left:0;
  right:0;
  padding:2rem 9%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:1000;
  color: white;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:white;

}