.main-container {
  /* height: 90%; */
  /* width: 100%; */
  min-height: 100vh;
  overflow: hidden;
  display:flex;
  flex-direction: row;


}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
 font-family: 'Roboto', sans-serif;
}
html,
body {
  height: 100%;
  /* width: 100%; */
  margin: 0;
 font-family: 'Roboto', sans-serif;
}
.header-section {
  background-color: black;
  color: white;
  height: 10%;
}
.right-side-links a {
  text-decoration: none;
  color: white;
}
.nav-bar-top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.right-side-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: white;
  font-size: 16px;
  padding-right: 60px;

  font-weight: lighter;
}



.card1 {
 
  background-color: #ffa65d;
  height: 550px;
  width: 290px;
  border-radius: 20px;
  align-items: center;
  margin-left: 24px;
  margin-top: 24px;
  justify-content: center;

  display: flex;
  flex-direction: column;
  padding: 15px 0; /* top and bottom spacing */
  
}

.card-title {
  display: flex;
  margin-bottom: 12px;
}

.course-card-footer {
  display: flex;
  bottom: 0;
  flex-direction: column;
  position: absolute;
  height: 70px;
  width: 290px;
  padding-top: 8px;
  padding-left: 18px;

}

.course-cards{
 background-color: #7fcbd8;
  height: 200px;
  width: 900px;
  border-radius: 12px;
  /* align-items: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* push first child to top and last child to bottom */
  padding: 15px 0; /* top and bottom spacing */
  margin-bottom: 0px;
  margin-left: 60px;
  margin-top: 30px;

align-items: flex-start;   /* THIS aligns both items from top */
gap: 12px; 
}

.card-title img {
 
  height: 160px;
  width: 270px;
  border-radius: 20px;
  margin-left: 24px;
  margin-right: 24px;


}

.card-about{
      display: flex;

  flex-direction: column;

margin-top: 12px;;
  height: 70px;
  width: 600px;
  align-items: baseline;
 
}


